<ion-content class="ion-text-center gradient">
    <app-logo-header></app-logo-header>

    <div class="vertical-center">
        <div class="wrapper">
            <form [formGroup]="sendMailForm" (ngSubmit)="onSubmit()" autocomplete="off">

                <ion-grid class="mini-controls">
                    <ion-row>
                        <ion-item class="ion-item-transparent">
                            <ion-icon name="mail-outline" slot="start"></ion-icon>
                            <ion-label position="floating">Email</ion-label>
                            <ion-input type="email" formControlName="email" name="email"></ion-input>
                        </ion-item>

                        <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert">
                            <p *ngIf="email.errors?.required">
                                Email is required
                            </p>
                            <p *ngIf="email.errors?.email">
                                Email is not valid
                            </p>
                        </div>
                    </ion-row>

                    <app-backend-error *ngIf="backendErrors$ | async" [backendErrorsProps]="backendErrors$ | async"></app-backend-error>

                    <ion-button expand="block" type="submit" [disabled]="!sendMailForm.valid || (isSubmitting$ | async)">Update password</ion-button>

                    <p class="ion-text-center or-p">or</p>

                    <a class="to-another-page ion-text-center" [routerLink]="['/login']">Oh, I remembered 😲</a>
                </ion-grid>
            </form>
        </div>
    </div>

    <ion-progress-bar *ngIf="isSubmitting$ | async" type="indeterminate" class="bottom-progress"></ion-progress-bar>
</ion-content>