<ion-content class="ion-text-center gradient">
    <app-logo-header></app-logo-header>

    <div class="vertical-center">
        <div class="wrapper">
            <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()" autocomplete="off">

                <ion-grid class="mini-controls">
                    <ion-row>
                        <ion-item class="ion-item-transparent">
                            <ion-icon name="key-outline" slot="start"></ion-icon>
                            <ion-label position="floating">Password</ion-label>
                            <ion-input type="password" formControlName="password" autocomplete="off" name="password"></ion-input>
                        </ion-item>

                        <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert">
                            <p *ngIf="password.errors?.required">
                                Password is required
                            </p>
                            <p *ngIf="password.errors?.minlength">
                                Password must be at least 6 characters long
                            </p>
                        </div>
                    </ion-row>

                    <app-backend-error *ngIf="backendErrors$ | async" [backendErrorsProps]="backendErrors$ | async"></app-backend-error>

                    <ion-button expand="block" type="submit" [disabled]="!passwordForm.valid || (isSubmitting$ | async)">Update password</ion-button>

                    <p class="ion-text-center or-p">or</p>

                    <a class="to-another-page ion-text-center" [routerLink]="['/login']">Oh, I remembered 😲</a>
                </ion-grid>
            </form>
        </div>
    </div>

    <ion-progress-bar *ngIf="isSubmitting$ | async" type="indeterminate" class="bottom-progress"></ion-progress-bar>
</ion-content>