<form [formGroup]="passwordForm">
    <ion-item class="ion-item-transparent">
        <ion-icon name="key-outline" slot="start" class="mini"></ion-icon>
        <ion-label class="mini-label" position="floating">Password</ion-label>
        <ion-input [type]="passwordType" (input)="onInputPassword($event)" formControlName="password" autocomplete="off" class="mini-input"></ion-input>
        <a (click)="toggleType()" class="eye-password">
            <ion-icon *ngIf="!show" name="eye-outline"></ion-icon>
            <ion-icon *ngIf="show" name="eye-off-outline"></ion-icon>
        </a>
    </ion-item>

    <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert">
        <p *ngIf="password.errors?.required">
            Password is required
        </p>
        <p *ngIf="password.errors?.minlength">
            Password must be at least 6 characters long
        </p>
    </div>
</form>
